variable "vnet_name" {
    default = "{{ vnet_name }}"
}
variable "subnet_name" {
    default = "{{ subnet_name }}"
} 

variable "subnet_cidr" {
    default = "{{ subnet_cidr }}"
}

variable "rg_name" {
    default = "{{ rg_name }}"
}

